<!DOCTYPE html>
<html ng-app="iProject">
<head lang="en">
    <meta charset="UTF-8">
    <title>IProject</title>
    <link type="text/css" href="styles/main.css" rel="stylesheet"/>
    <link rel="icon" href="images/artizan.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/artizan.ico" type="image/x-icon" />
    <!--<link type="text/css" href="styles/fluidity.min.css" rel="stylesheet"/>-->
</head>
<body>
<div class="main" ng-controller="mainController">
    <div class="content">
        <div class="fixed-top">
            <!--<ul>-->
                <!--<li class="week-day" ng-repeat="day in week" ng-class="{'border-right':day.notLast}">-->
                    <!--<div>-->
                        <!--{{day.name}}-->
                    <!--</div>-->
                    <!--<div class="day-date">-->
                        <!--{{day.date}}-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
            <div class="week-day" ng-repeat="day in week" ng-class="{'border-right':day.notLast,'is-today':day.isToday}">
                <div>
                    {{day.name}}
                </div>
                <div class="day-date">
                    {{day.date | date:'yyyy-MM-dd'}}
                </div>
            </div>
        </div>
        <div class="content-items">
            <div class="day-in-week" ng-repeat="day in week">
                <div class="day-content" ng-repeat="content in day.contents">
                    <div class="item-name-div">
                    <a class="item-name" target="_blank" ng-href="{{content.url}}">{{content.weekDay}}{{content.name}}</a>
                    </div>
                    <div>
                        <a target="_blank" ng-href="{{content.url}}">
                            <img class="item-image" src="{{content.imageUrl}}">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="main-content">-->
            <!--<div class="day-content">-->
                <!--<ul class="day-content-list">-->
                    <!--<li class="content-item" ng-repeat="content in contents">-->
                        <!---->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<ul>-->
                <!--<li class="week-day">-->
                    <!---->
                <!--</li>-->
            <!--</ul>-->
        </div>

    </div>
</div>

    <!--angular-->
    <script type="text/javascript" src="scripts/vendor/angular/angular.min.js"></script>

    <!--ng-->
    <script type="text/javascript" src="scripts/app.js"></script>
    <!--controllers-->
    <script type="text/javascript" src="scripts/controllers/maincontroller.js"></script>
    <!--filters-->
    <script type="text/javascript" src="scripts/filters/captalize.js "></script>
    <!--directives-->
    <script type="text/javascript" src="scripts/directives/linkdir/linkdir.js"></script>
    <!--baidu map-->
    <!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=148ba719517de5b636685962d779d367&s=1"></script>-->
</body>
</html>